In [1]:
import scipy as sp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [38]:
pd.options.display.max_rows = 10

import datetime
def convert_dotnet_tick(ticks):
    """Convert .NET ticks to formatted ISO8601 time
    Args:
        ticks: integer
            i.e 100 nanosecond increments since 1/1/1 AD"""
    _date = datetime.datetime(1, 1, 1) + \
        datetime.timedelta(microseconds=ticks // 10)
    if _date.year < 1900:  # strftime() requires year >= 1900
        _date = _date.replace(year=_date.year + 1900)
    return _date.strftime("%Y-%m-%d %H:%M:%S.%S")[:-3]

floor = 3
dfs = []
for (dirpath, dirnames, filenames) in os.walk("./csv"):
    for file in filenames:
        path = os.path.join(dirpath, file)
        if (file.endswith(".csv")):
            dfs.append(pd.read_csv(path, delimiter=",", header=None, index_col=None))
df = pd.concat(dfs, axis=0, ignore_index=True)
line = "Время,X,Y,Этаж,SSID,BSID(мак-адрес),сигнал(dB),частота,?,?,ш,д,выс,точн".split(",")
markup = {i: line[i] for i in range(14)}
df = df.rename(columns=markup)
df["Время"] = df["Время"].apply(lambda ts: pd.to_datetime(convert_dotnet_tick(ts)))
# df = df[df["SSID"] == "UTMN"]
df

,Время,X,Y,Этаж,SSID,BSID(мак-адрес),сигнал(dB),частота,?,?,ш,д,выс,точн
0,2022-05-13 10:53:25,1996.151,478.0,4,UTMN.FREE,dc:f7:19:0d:73:cc,-64,5745,NaN,NaN,65.522274,57.159050,77.000000,14.619
1,2022-05-13 10:53:25,1996.151,478.0,4,UTMN,dc:f7:19:0d:73:cf,-64,5745,NaN,NaN,65.522274,57.159050,77.000000,14.619
2,2022-05-13 10:53:25,1996.151,478.0,4,UTMN.STUDY,dc:f7:19:0d:73:c9,-64,5745,NaN,NaN,65.522274,57.159050,77.000000,14.619
3,2022-05-13 10:53:25,1996.151,478.0,4,UTMN.OIT,dc:f7:19:0d:73:ce,-64,5745,NaN,NaN,65.522274,57.159050,77.000000,14.619
4,2022-05-13 10:53:25,1996.151,478.0,4,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-59,5200,NaN,NaN,65.522274,57.159050,77.000000,14.619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3472,2022-05-17 11:15:13,173.000,352.0,2,NaN,f0:1d:2d:ec:dc:a5,-73,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133
3473,2022-05-17 11:15:13,173.000,352.0,2,UTMN.STUDY,f0:1d:2d:ec:dc:a6,-73,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133
3474,2022-05-17 11:15:13,173.000,352.0,2,NaN,f0:1d:2d:ec:dc:a8,-74,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133
3475,2022-05-17 11:15:13,173.000,352.0,2,NaN,7a:83:c2:21:5e:ac,-89,2412,NaN,NaN,65.522995,57.158714,68.900002,15.133
3476,2022-05-17 11:15:13,173.000,352.0,2,UTMN.FREE,74:83:c2:24:f5:28,-84,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133

In [51]:
df[df["сигнал(dB)"] == None]

Empty DataFrame
Columns: [Время, X, Y, Этаж, SSID, BSID(мак-адрес), сигнал(dB), частота, ?, ?, ш, д, выс, точн]
Index: []

In [40]:
df2 = df[df["Этаж"] == 2]
df2

,Время,X,Y,Этаж,SSID,BSID(мак-адрес),сигнал(dB),частота,?,?,ш,д,выс,точн
1660,2022-05-13 11:04:33,268.0,1427.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-56,5200,NaN,NaN,65.523402,57.158890,72.500000,16.211
1661,2022-05-13 11:04:33,268.0,1427.0,2,UTMN.OIT,f0:1d:2d:ed:16:41,-84,2412,NaN,NaN,65.523402,57.158890,72.500000,16.211
1662,2022-05-13 11:04:33,268.0,1427.0,2,UTMN,f0:1d:2d:ed:16:40,-85,2412,NaN,NaN,65.523402,57.158890,72.500000,16.211
1663,2022-05-13 11:04:33,268.0,1427.0,2,UTMN.STUDY,f0:1d:2d:ed:12:e6,-84,2462,NaN,NaN,65.523402,57.158890,72.500000,16.211
1664,2022-05-13 11:04:33,268.0,1427.0,2,NaN,f0:1d:2d:ed:16:46,-86,5320,NaN,NaN,65.523402,57.158890,72.500000,16.211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3472,2022-05-17 11:15:13,173.0,352.0,2,NaN,f0:1d:2d:ec:dc:a5,-73,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133
3473,2022-05-17 11:15:13,173.0,352.0,2,UTMN.STUDY,f0:1d:2d:ec:dc:a6,-73,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133
3474,2022-05-17 11:15:13,173.0,352.0,2,NaN,f0:1d:2d:ec:dc:a8,-74,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133
3475,2022-05-17 11:15:13,173.0,352.0,2,NaN,7a:83:c2:21:5e:ac,-89,2412,NaN,NaN,65.522995,57.158714,68.900002,15.133
3476,2022-05-17 11:15:13,173.0,352.0,2,UTMN.FREE,74:83:c2:24:f5:28,-84,2437,NaN,NaN,65.522995,57.158714,68.900002,15.133

In [41]:
BSID_max = df2.groupby(by="BSID(мак-адрес)")["BSID(мак-адрес)"].count().idxmax()
df3 = df2[df2["BSID(мак-адрес)"] == BSID_max]
df3

,Время,X,Y,Этаж,SSID,BSID(мак-адрес),сигнал(dB),частота,?,?,ш,д,выс,точн
1660,2022-05-13 11:04:33,268.000,1427.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-56,5200,NaN,NaN,65.523402,57.158890,72.500000,16.211000
1737,2022-05-13 11:05:03,315.000,1166.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-56,5200,NaN,NaN,65.523275,57.158880,69.300003,21.118999
1799,2022-05-13 11:07:33,200.000,1146.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-63,5200,NaN,NaN,65.523295,57.158870,69.300003,12.742000
1868,2022-05-13 11:09:05,200.000,773.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-62,5200,NaN,NaN,65.523269,57.158859,69.300003,13.429000
1934,2022-05-13 11:09:28,215.000,544.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-58,5200,NaN,NaN,65.523229,57.158794,69.400002,16.402000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2542,2022-05-13 11:15:56,1168.000,373.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-57,5200,NaN,NaN,65.522634,57.158890,67.200005,19.690001
2584,2022-05-13 11:16:22,920.000,371.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-63,5200,NaN,NaN,65.522714,57.158835,69.300003,20.385000
2638,2022-05-13 11:16:22,920.000,371.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-64,5200,NaN,NaN,65.522714,57.158835,69.300003,20.385000
3360,2022-05-17 10:53:19,1134.576,1738.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-56,5240,NaN,NaN,65.522700,57.159193,65.900002,18.944000
3397,2022-05-17 10:53:28,1027.576,1736.0,2,MegaFonMR150-2,9c:a9:e4:c4:1d:af,-55,5240,NaN,NaN,65.523275,57.159064,65.900002,17.638000

In [42]:
df4 = df3[["X", "Y", "сигнал(dB)"]]
df4

             X       Y  сигнал(dB)
1660   268.000  1427.0         -56
1737   315.000  1166.0         -56
1799   200.000  1146.0         -63
1868   200.000   773.0         -62
1934   215.000   544.0         -58
...        ...     ...         ...
2542  1168.000   373.0         -57
2584   920.000   371.0         -63
2638   920.000   371.0         -64
3360  1134.576  1738.0         -56
3397  1027.576  1736.0         -55

[14 rows x 3 columns]

In [43]:
df5 = df4.fillna(0)
df5

             X       Y  сигнал(dB)
1660   268.000  1427.0         -56
1737   315.000  1166.0         -56
1799   200.000  1146.0         -63
1868   200.000   773.0         -62
1934   215.000   544.0         -58
...        ...     ...         ...
2542  1168.000   373.0         -57
2584   920.000   371.0         -63
2638   920.000   371.0         -64
3360  1134.576  1738.0         -56
3397  1027.576  1736.0         -55

[14 rows x 3 columns]

In [49]:
df6 = df5.reset_index()[["index"]]
# df6["index"] = abs(df6["X"] * df6["Y"] * df6["сигнал(dB)"])
# df6 = df6.set_index("index")
df6

TypeError: bad operand type for unary ~: 'list'